<mat-card>
    <mat-card-title>
        Novo Produto
    </mat-card-title>
    <form id="form-create-product" (keydown)="enterSubmit($event)">
        <mat-form-field>
            <input matInput placeholder="Nome" required [(ngModel)]="product.name" name="name" type="text">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Preço" required [(ngModel)]="product.price" name="price" type="number">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProduct()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
