.sidenav {
    background-color: #3f51b5;
    width: 200px
}

.sidenav a {
    color: #FFF;
    user-select: none;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    margin-top: 70px;
    padding: 16px;
    background-color: #FFF;
    overflow: hidden;
}